* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* nav bar styles here */

iframe,
img,
video {
  max-width: 100%;
}
nav {
  background-color: rgb(192, 244, 244);
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(192, 244, 244);
  font-size: 1.3rem;
  height: 70px;
  padding: 0.5rem 0.5rem;
  margin: auto;
  max-width: 1200px;
  margin-bottom: 2rem;
  padding-bottom: 2rem;
}
.navbar a {
  text-decoration: none;
  gap: 0.5rem;
}
.navbar a:hover {
  color: black;
  background-color: white;
  border-radius: 1rem;
}

#links {
  display: flex;
  gap: 2rem;
}

.body {
  background-color: wheat;
  font-family: "Roboto", sans-serif;
}

#About {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.2rem solid blue;
  margin-inline: auto;
  max-width: 1000px;
  margin-bottom: 2rem;
  padding-bottom: 2rem;
  border-radius: 0.5rem;
}

#works {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.2rem solid blue;
  margin-inline: auto;
  max-width: 1000px;
  margin-bottom: 2rem;
  padding-bottom: 2rem;
  border-radius: 0.5rem;
}
#video {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.2rem solid blue;
  margin-inline: auto;
  max-width: 1000px;
  margin-bottom: 2rem;
  padding-bottom: 2rem;
  border-radius: 0.5rem;
}
#Resume {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.2rem solid blue;
  margin-inline: auto;
  max-width: 1000px;
  gap: 2rem;
  margin-bottom: 2rem;
  padding-bottom: 2rem;
  border-radius: 0.5rem;
}
.Contact {
  max-width: 1000px;
  background-color: wheat;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.2rem solid blue;
  margin-inline: auto;
  border-radius: 0.5rem;
}

#text {
  border-radius: 0.6rem;
  border: 0.2rem red;
  display: flex;
  justify-content: center;
  align-items: center;
}

#foot {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Contact .submit--btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.5rem;
}
